// Archivo de variables 
//PALETA DE COLORES
$coral: #f0d53c;
$flame: #e4572e;
$shiny_shamrock: #4ca866;
$blue_defrance: #3c91e6;
$black: #000000;
$isabeline: #eeeded;
$buff: #f1dd7b;
$light_redochre: #e87554;
$turquoise_green: #9dcfab;
$blue_jeans: #5fa5ea;
$outer_space: #454545;
$spanish_gray: #989797;
$vanilla: #f5e7a1;
$pastel_pink: #f2b2a0;
$pastel_gray: #bddfc7;
$jordy_blue: #82b9ef;
$quick_silver:#a2a2a2;
$white: #fff;

//TIPOGRAFIAS
$mono-font: "PT Mono", monospace;
$roboto-font: "Roboto", sans-serif;

//PESOS FUENTES
$font-thin: 300;
$font-medium: 500;
$font-bold: 700;

//TAMAÑO FUENTES
$fsmedium: 16px;
$fslarge: 18px;
$fsxlarge: 30px;
$fsxxlarge: 40px;
$fsxxxlarge: 70px;

//SPACING
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;
$sp6: 50px;





